# Dictionary {}
dictionaries are used for storing data in key value pair, keys are unique elements while values can be duplicate.
only immutable datatypes can become the key for a dictionary while you can use any datatype for its value.
dictionaries are ordered and it do not allow duplicate keys.

In [2]:
import os
os.getcwd()

'C:\\Users\\divya.gupta\\desktop\\Untitled Folder 1'

In [26]:
dict_1 = {
    1:"one",
    4.0 : "one",
    "three" : 3,
    (1,2,3) : 10,
    (10,20,30) : [40,50,60],
    4.0 : "for"
}
print(type(dict_1))
dict_1

<class 'dict'>

{1: 'one', 4.0: 'for', 'three': 3, (1, 2, 3): 10, (10, 20, 30): [40, 50, 60]}

In [3]:
# defining a dictionary
empty_dict = {}  #define empty dictionary
print(empty_dict)
#defining dictionary with values
dict_1 = { 1:"one",
          4.0 : "four", 
          "three" : 3,
          (1,2,3) : 10,
          (10,20,30) : [40,50,60],
          4.0 : "for"}
dict_3 = dict()   #using a constructor
dict_3
print(dict_1)

{}
{1: 'one', 4.0: 'for', 'three': 3, (1, 2, 3): 10, (10, 20, 30): [40, 50, 60]}

Accessing elements from dictionary : You can access the values using keys in dictionary, if the key is not present so it raise key error. 
-->> using get() method also we can get the values for their respective key.

In [6]:
dict_1[(1,2,3,4)]

KeyError: (1, 2, 3, 4)

In [13]:
dict_1[8.0]

KeyError: 8.0

In [14]:
dict_1.get(1)

'one'

In [ ]:
# H.w. 
Q.1 Write a program to get key for given value in dictionary.
Q.2 Write a program to reverse a tuple.

In [17]:
# to count the occurence of each character in a string.
string = 'google.com'
lst = []
for i in string:
    count = 0
    count = string.count(i)
    tuples = (i,count)
    lst.append(tuples)
    

print(set(lst))

{('e', 1), ('o', 3), ('l', 1), ('c', 1), ('m', 1), ('.', 1), ('g', 2)}

In [18]:
string = 'google.com'
dict_1 = {}
for i in string:
    dict_1[i] = string.count(i)
    
dict_1

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

modify and add new elements in dictionary

In [23]:
dict_1

{1: 'one', (1, 2, 3): 10, (10, 20, 30): [40, 50, 60], 'topic': 'Datatypes'}

In [14]:
dict_1['three'] = 30  #adding new key value pair in dictionary

In [10]:
dict_1["topic"] = "Datatypes"

In [20]:
# Removing the elements from dictionary
# pop(key) -- it removes specific key value pair, takes 1 argument that is the key.
dict_1.pop(4.0)

'four'

In [22]:
#popitem() - It removes the last key value pair from dictionary
dict_1.popitem()

(0, 'four')

In [24]:
# clear() - It removes all the items from the dictionary.
dict_1.clear()

In [35]:
dict_1

{1: 'change value',
 4.0: 'for',
 'three': 3,
 (1, 2, 3): 10,
 (10, 20, 30): [40, 50, 60]}

In [28]:
dict_2 = dict_1.copy()  #It creates a deep copy

In [31]:
dict_2

{1: 'first pair',
 4.0: 'for',
 'three': 3,
 (1, 2, 3): 10,
 (10, 20, 30): [40, 50, 60]}

In [30]:
dict_2[1] = "first pair"

In [33]:
dict_3 = dict_1   #It creates a shallow copy.

In [34]:
dict_3[1] = "change value"

In [39]:
# Iterating all the elements of dict
for i,j in dict_2.items():
    print(i,end = " ------ ")
    print(j)

1 ------ first pair
4.0 ------ for
three ------ 3
(1, 2, 3) ------ 10
(10, 20, 30) ------ [40, 50, 60]

In [44]:
# keys() - It is used to get list of all the keys present in dictionary
lst_key = list(dict_2.keys())
lst_key
# type(lst_key)

[1, 4.0, 'three', (1, 2, 3), (10, 20, 30)]

In [46]:
# values() - It is used to get list of all the values present in dictionary
lst_values = list(dict_2.values())
lst_values

['first pair', 'for', 3, 10, [40, 50, 60]]

In [47]:
# update() - It adds elements of other dictionary to the current dictionary.
dict_2

{1: 'first pair',
 4.0: 'for',
 'three': 3,
 (1, 2, 3): 10,
 (10, 20, 30): [40, 50, 60]}

In [51]:
dict_3 = {"class" : "python", "topic":"datatypes", "session" : 5}
dict_3.update(dict_2)
dict_3

{'class': 'python',
 'topic': 'datatypes',
 'session': 5,
 1: 'first pair',
 4.0: 'for',
 'three': 3,
 (1, 2, 3): 10,
 (10, 20, 30): [40, 50, 60]}

'''Write a Python script to print a dictionary where the keys are numbers
between 1 and 15 (both included) and the values are the square of the keys.
output = {1:1,2:4,3:9,4:16............... ,15:225}'''

In [52]:
dictionary = {}
for i in range(1,16):
    dictionary[i] = i**2
    
dictionary

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}