Lambda Function : Its a function without name and that's why it is also called
    anonymous function.
    we donot need to use def keyword for creating function instead we               use keyword
    lambda for the same.
    syntax : lambda arguments : expression.
    It can have any number of arguments but only one expression.
    The expression is evaluated and the result is returned.
    It's a single line function

In [4]:
add = lambda num1,num2,num3,num4 : num1+num2+num3+num4

In [5]:
result = add(4,6,3,2)

In [6]:
print(result)

15

In [9]:
def square(num):
    s = num*num
    return s

number = 5
square(number)

25

In [10]:
square = lambda x : x*x
square(6)

36

In [11]:
#write a program to check if the number is even or not.

def even_check(n):
    if n%2 == 0:
        return True
    else:
        return False
    
res = even_check(9)
if res == True:
    print("Even number")
else:
    print("Odd number")

Odd number

In [13]:
even = lambda number : number%2 == 0
even(18)

True

In [ ]:
user has given his first name and last name, now store it in a variable called 
full name. 
for e.g
first_name = "Ram"
last_name = "Kumar"

In [14]:
first_name = "raM"
last_name = "kumAr"
full_name = lambda a,b : a.title() + " " + b.title()
full_name(first_name, last_name)

'Ram Kumar'

In [ ]:
# 3*(x**2) + 4*x + 5

In [15]:
quadratic = lambda x : 3*(x**2) + 4*x + 5
quadratic(2)

25

Filter : This is used for filtering some elements of list using some conditions. It returns filtered list.
filter(function , list)

In [17]:
lst = [1,2,3,5,6,4,6,7,8,9,12,15]
even = lambda number : number%2 == 0
even_lst = filter(even, lst)
list(even_lst)

[2, 6, 4, 6, 8, 12]

In [19]:
lst = [20,30,40,50,60,70,80]
avg = sum(lst)/len(lst)
above_avg = filter(lambda x : x>avg, lst)
list(above_avg)

[60, 70, 80]

In [ ]:
Map : The map function takes two arguments, a function and a list. the function
    is called with all the items in the list and returns a new list which contains
    items returned by the functions

In [20]:
lst = [1,2,3,4,5,6,7]
square = lambda x : x**2
list(map(square,lst))

# [1,4,9,16,25,36,49]

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
write a program to get a lst where all the elements of given lst are 
multiplied by 5.
input : [1,2,3,4,5]
output : [5,10,15,20,25]

In [21]:
lst = [1,2,3,4,5]
multiply = lambda x : x*5
list(map(multiply , lst))

[5, 10, 15, 20, 25]

In [ ]:
Reduce : this function is used to reduce a sequence of elements to a single value
    by processing the elements according to the function applied.
It takes two parameters first is the function, and the list.

In [23]:
from functools import reduce
lst = [5, 10, 15, 20, 25]
reduce(lambda x,y : x+y,lst)

75

In [ ]:
Write a program to get the product of elements of lst.
Input : lst = [1,2,3,4,5]
output : 120

In [24]:
lst = [1,2,3,4,5]
reduce(lambda x,y : x*y,lst)

120

In [ ]:
Write a Python program to create a list containing the power of said number
in bases raised to the corresponding number in the index using Python map.

Input : lst = [4,7,2,3,5,8,9]

Output lst :  [4**0, 7**1, 2**2, 3**3 ,5**4, 8**5 , 9**6]

In [25]:
def power(lst):
    lst2 = []
    for i in range(len(lst)):
        pow = lst[i]**i
        lst2.append(pow)
        
    return lst2

lst = [2,3,4,5,6,7,8]
power(lst)

[1, 3, 16, 125, 1296, 16807, 262144]

In [26]:
lst = [4, 7, 2, 3, 5, 8, 9]

# Use map to compute the power of each number in the list
result = list(map(lambda base, exponent: base ** exponent, lst, range(len(lst))))

print(result)

[1, 7, 4, 27, 625, 32768, 531441]

In [28]:
lst = [4, 7, 2, 3, 5, 8, 9]
power = lambda base, exponent: base ** exponent
result = map(power, lst, range(len(lst)))
list(result)

[1, 7, 4, 27, 625, 32768, 531441]