1. procedural programming
2. functional programming
3. object oriented programming

In [9]:
a= 5
b= 4
print(a+b)

9

In [ ]:
dry - donot repeat yourself.
1. functional programming
2. object oriented programming (Advance python)

In [ ]:
functional programming : when you make functions to do your task then this way
of programming is functional programming.

In [ ]:
What is function :
-- A function is a block of code for performing a specific task.
-- It is used to define something and use later multiple times to perform the task
-- It avoids repetition of code and makes it reusable.

In [ ]:
syntax of function :
 -- keyword def is used to define a function, followed by the name of function
and name of the function has to be unique. It follows the same rule of writing name of
identifier. parameter(arguments) through which we pass value to the function is optional
header should end with colon(:)
you can use return statement to get some output from the function. 
return statement is optional

In [2]:
#function without parameter/argument and without return statement :
def addition():
    num1 = int(input("enter num one"))
    num2 = int(input("enter num two"))
    print(num1+num2)
    
output = addition()  #None
print(output)

enter num one13
enter num two12
25
None

In [4]:
#function with parameter and return statement :
def calculate(num1,num2):
    add = num1 +num2
    subs = num1-num2
    multiply = num1*num2
    division = num1/num2
    print(add, subs, multiply, division)
    return add
    
    
addition = calculate(100,200)
print(addition)

300 -100 20000 0.5
300

In [ ]:
make a function to print the table of given number.
Input: 5
output:
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
.
.
.
.
.
.
5*10 = 50

In [30]:
#make a function to print the table of given number.
n=int(input("Enter a number:"))
def table(number):
    for i in range(1,11): 
        print(number,' x ', i, ' = ',n*i)
    
table(n)

Enter a number:4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40

In [ ]:
return : The return statement is used to exit a function and go back to the place where it was called.
This statement can contain an expression that gets evaluated and the value is returned. if there is no
expression in return statement or the return statement is not present in function so it will return
None value.

print() : It displays the data.

In [ ]:
Types of function :
    1. Inbuilt functions : this are the functions present in python library, we donot have to define
        them, we can simply call and use them for e.g. print(), input(), pop()
        
    2. User defined functions : this are the functions defined by user to perform some specific task
        for e.g. table()

In [ ]:
Types of Arguments:
1. Default arguments : when we assign some value to our arguments using '=' operator then this type of
    argument is called default argument.
2. Keyword arguments : when we assign the values to arguments by their names then it is called keyword
    argument. the position of arguments can be changed using this method.
3. Arbitrary arguments : when we dont know in advance that how many arguments will be given when we call
    function, we use arbitrary arguments also known as *args
4. Arbitrary keyword arguments : If you donot know that how many keyword arguments you want to give, 
    you add ** before the name of parameter and this way of getting arguments is called arbitraty 
    keyword arguments. (**kwargs)

In [31]:
def addition(num1=200,num2=100):    # default argument
    return num1+num2

addition()

300

In [34]:
def substraction(num1,num2):
    return num1-num2

substraction(num2 = 100,num1 = 200)      #Keyword argument

100

In [36]:
def students(*names):
    print(names)
    
students('aishwarya','sandeep','vasudha','chiranjeevi') #Arbitrary arguments (args)

('aishwarya', 'sandeep', 'vasudha', 'chiranjeevi')

In [38]:
def marks(marks):
    print(marks)
    
dict1 = {'a':100,'b':80,'c':90,'d':85}
marks(dict1)

{'a': 100, 'b': 80, 'c': 90, 'd': 85}

In [40]:
def smallest(**values):
    print("smallest is",values['small'])
    
smallest(big = "john",middle = "anna", small = "baby")

smallest is baby

In [10]:
#make a function to print the table of given number.
def table(number):
    lst = []
    for i in range(1,11):
        multiply = number*i
        lst.append(multiply)
    return lst
#         print(number, " X ", i, " = ", multiply)
        
n = int(input("Enter a number for printing its table"))
lst = table(n)
for i in range(1,11):
    print(n, " X ", i, " = ", lst[i-1])
print("*********finished*************")

Enter a number for printing its table6
6  X  1  =  6
6  X  2  =  12
6  X  3  =  18
6  X  4  =  24
6  X  5  =  30
6  X  6  =  36
6  X  7  =  42
6  X  8  =  48
6  X  9  =  54
6  X  10  =  60
*********finished*************

In [11]:
# *args and **kwargs
def fruits(*name):
    print("I have the following fruits in my basket")
    print(name)

In [13]:
lst_of_fruits = ["Apples","Banana","orange","chiku"]
fruits("Apples","Banana","orange","chiku")

I have the following fruits in my basket
('Apples', 'Banana', 'orange', 'chiku')

In [14]:
def addition(*number):
    lst = list(number)
    for i in lst:
        print(i)
    print(sum(lst))
    
addition(3,4,5,6,7,8,9)

42

In [18]:
def family_members(**members):
    print(type(members))
    for k,v in members.items():
        print(k,"--",v)
    
family_members(Mother = "sita",father = "Ram", brother = "kush")

<class 'dict'>
Mother -- sita
father -- Ram
brother -- kush