In [ ]:
List : sequencial, heterogenous, ordered, mutable.

In [ ]:
inbuilt list functions :
1. append()
2. extend()
3. pop() ---- deletes the element by its index
4. remove() --- deletes the element by its value.
5. del
6. insert()
7. join()
8. clear()
9. sort()
10. index()

In [1]:
lst = [1,2,3,4,5,6,7]
lst.remove(4)
print(lst)

[1, 2, 3, 5, 6, 7]

In [16]:
lst2 = list(('a','b','c','d','e','f','g','h','i'))  #Creating a list using list constructor
print(lst2)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [4]:
lst2[3]  #Positive Indexing

4

In [6]:
lst2[-2]  #Negative Indexing

4

In [7]:
lst2[1:4]

[2, 3, 4]

In [8]:
lst2[::]

[1, 2, 3, 4, 5]

In [10]:
lst2[::-1]    # Reversing a lst using negative slicing

[5, 4, 3, 2, 1]

In [18]:
lst2[1:8:3]    #default = 1[start_index,end_index,steps]

['b', 'd', 'f', 'h']

In [17]:
lst2

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [ ]:
['b', 'd', 'f', 'h']

In [19]:
# lists are mutable
lst2[0] = 'apple'
lst2

['apple', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [21]:
# strings are immutable
string = "Apple"
print(string)

Apple

In [26]:
string1 = " ".join(lst2)
print(string1)
print(type(string1))

apple b c d e f g h i
<class 'str'>

In [29]:
lst1 = [1,2,3]
lst2 = [4,5,6]
lst1+ lst2    #addition operator for concatinating two list

[1, 2, 3, 4, 5, 6]

In [34]:
lst1*4  #multiplication operator

[1, 10, 2, 5, 3, 1, 10, 2, 5, 3, 1, 10, 2, 5, 3, 1, 10, 2, 5, 3]

In [33]:
lst1.insert(1,10)
lst1

[1, 10, 2, 5, 3]

In [37]:
del lst2

#using user input create a list.
Input : length of list, values

In [43]:
# lst_length=int(input("Enter length of list required"))
lst=list(input("Enter the values into list:"))
print(lst)

Enter the values into list:123apple
['1', '2', '3', 'a', 'p', 'p', 'l', 'e']

In [44]:
print(type(lst))

<class 'list'>

In [45]:
l=list((int(input()) for i in range(int(input()))))
print(l)

5
1
2
3
4
5
[1, 2, 3, 4, 5]

In [46]:
#Create a list using user input
length  = int(input("Enter the length of list"))
lst = []
for i in range(length):
    value = input("Enter value : ")
    lst.append(value)
    
print(lst)

Enter the length of list5
Enter valueapple
Enter valueboy
Enter valuecat
Enter valuedog
Enter valueegg
['apple', 'boy', 'cat', 'dog', 'egg']

In [47]:
length=int(input("enter the length of list"))
list=[]
while length>=1:
	value=input("enter the value")
	list.append(value)
	length-=1
print(list)

enter the length of list6
enter the value11
enter the value34
enter the value23
enter the value67
enter the value54
enter the value32
['11', '34', '23', '67', '54', '32']

In [48]:
# making a list empty using clear() method.
lst = [1,2,3,4,5]
lst.clear()
print(lst)

[]

In [52]:
#sorting a list
lst = [45,23,89,54,76,11,34,99,100,40]
lst.sort(reverse = True)

In [53]:
print(lst)

[100, 99, 89, 76, 54, 45, 40, 34, 23, 11]

#index() - it will return the index of specified element in the list.
if the value is not found it will raise value error. if any duplicates are
present so it will give the index of first occuring value

In [57]:
lst = [45,23,89,54,76,11,34,99,100,40,23,89]
lst.index(45)

0

In [ ]:
# palindrome.
# write a program to check whether a given string is palindrome or not.                                             [23-05-2023]
word = input("Enter any word you like: ")  
def reverse_string(word):
    s = ""
    for i in word:
        s = i + s
    return s
     

op = reverse_string(word)
if word == op:
    print("The given string is a palindrome.")
else:
    print("This is not a palindrome word.")

In [58]:
string = "Python"
s = "" -- P -- yp -- typ -- htyp -- nohtyp -- 
for i in string:
    s = i + s
    print(s)

P
yP
tyP
htyP
ohtyP
nohtyP

In [ ]:
word=input()
word=word.casefold()
reverse=word[::-1]
if word==reverse:
    print("word is palindrome")
else:
    print("word is not palindrome")

In [ ]:
# count of occurance of every char in string.